<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="username" value=""/>
		<!-- username to use in chat when sending message -->
		<add key="streamer" value=""/>
		<!-- channel to monitor and chat in-->
		<add key="oauth" value=""/>
		<!-- get chat bot's oauth from www.twitchapps.com/tmi/ Make sure the token belongs to the given username-->
		<add key="exclude" value=""/>
		<!-- comma seperated usernames to exclude from greetings. Streamer and username are excluded automatically. This list is read once on start of application -->
		<add key="greeting" value=""/>
		<!-- message to send to chat when a user comments for the first time ($user$ gets replaced with user chatting)-->
		<add key="delay" value="3"/>
		<!-- delay to send messages in seconds-->
		<add key="timerCommand" value=""/>
		<!-- text to send on timer elapse -->
		<add key="timerPeriod" value=""/>
		<!-- time in seconds to send timerCommand-->
	</appSettings>
</configuration>